In [4]:
import numpy as np
import pandas as pd
pd.__version__
np.__version__

'2.0.0'

In [17]:
df = pd.read_excel('score.xlsx')
df.set_index('지원번호',inplace=True)
#df.set_index('지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  25  25        Java
3번    송태섭  북산고  168   80   75   70  75  75  JavaScript
4번    서태웅  북산고  187   40   60   70  80  80         NaN
5번    강백호  북산고  188   15   20   10  10  10         NaN
6번    변덕규  능남고  202   80  100   95  80  80           C
7번    황태산  능남고  188   55   65   45  35  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [23]:
df.iloc[1,2]

np.int64(184)

In [27]:
df.iloc[:,3]

지원번호
1번     90
2번     40
3번     80
4번     40
5번     15
6번     80
7번     55
8번    100
Name: 국어, dtype: int64

In [44]:
df.describe()
df.info()
df.head()
df.tail()
print('='*50)
df.국어.sum()
df.국어.mean()
df.국어.nlargest(3)
df['국어'].median()
df.SW특기.count ()
df.학교.unique()
df.학교.nunique()  #범주형 데이터에서 사용

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 1번 to 8번
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      8 non-null      object
 1   학교      8 non-null      object
 2   키       8 non-null      int64
 3   국어      8 non-null      int64
 4   영어      8 non-null      int64
 5   수학      8 non-null      int64
 6   과학      8 non-null      int64
 7   사회      8 non-null      int64
 8   SW특기    6 non-null      object
dtypes: int64(6), object(3)
memory usage: 940.0+ bytes
==================================================

2

In [48]:
#속성들
df.shape #괄호가 없는것은 속성 ()가 있으면 메서드
df.columns
df.index
df.values

array([['채치수', '북산고', 197, 90, 85, 100, 95, 85, 'Python'],
       ['정대만', '북산고', 184, 40, 35, 50, 25, 25, 'Java'],
       ['송태섭', '북산고', 168, 80, 75, 70, 75, 75, 'JavaScript'],
       ['서태웅', '북산고', 187, 40, 60, 70, 80, 80, nan],
       ['강백호', '북산고', 188, 15, 20, 10, 10, 10, nan],
       ['변덕규', '능남고', 202, 80, 100, 95, 80, 80, 'C'],
       ['황태산', '능남고', 188, 55, 65, 45, 35, 35, 'PYTHON'],
       ['윤대협', '능남고', 190, 100, 85, 90, 95, 95, 'C#']], dtype=object)