In [9]:
import pandas as pd

In [21]:
pd.__version__

'2.2.2'

In [52]:
#2차원 리스트를 데이터 프레임(인덱스:행, 컬럼:열,value:데이터로 구성된 자료 구조)만들기
df1 = pd.DataFrame([[1,2,3],[10,20,30],[100,200,300]],columns=['1열','2열','3열'])
df1

    1열   2열   3열
0    1    2    3
1   10   20   30
2  100  200  300

In [53]:
df2 = pd.DataFrame([[1,2,3],[10,20,30],[100,200,300]],columns=['1열','2열','3열'],index=['1행','2행','3행'])
df2

     1열   2열   3열
1행    1    2    3
2행   10   20   30
3행  100  200  300

In [36]:
print(df1['1열'].mean())
#print(df1['1열':'3열'])
#type(df1['1열':"3열"])
df1.shape


#

37.0

(3, 3)

In [37]:
df1[['1열']]

    1열
0    1
1   10
2  100

In [48]:
#열 슬라이싱의 결과에 대한 데이터 구조는 DataFrame이다
df1[0:3]

    1열   2열   3열
0    1    2    3
1   10   20   30
2  100  200  300