In [6]:
import pandas as pd
data=  {'이름' : ['강','을','이','권'],
        '학교' : ['가나고','하나고','경기외고','전남과고'],
        '국어' : [100,95,100,85],
        '영어' : [85,75,90,100],
        '수학' : [100,75,95,85.0]
        } #열 단위로 구성된 dictionary이다. 데이터 프레임으로 만들때는 키(key값)가 컬렴명이 된다.
df1 = pd.DataFrame(data)
df1

  이름    학교   국어   영어     수학
0  강   가나고  100   85  100.0
1  을   하나고   95   75   75.0
2  이  경기외고  100   90   95.0
3  권  전남과고   85  100   85.0

In [8]:
df1.shape

(4, 5)

In [12]:
df2=df1[['이름','국어']] #select 이름,국어 from df1
df2

  이름   국어
0  강  100
1  을   95
2  이  100
3  권   85

In [19]:
#df2=df1['이름':'국어'] # 컬럼의 인덱스를 사용자가 정의 했더라도 순서를 갖지만 슬라이싱 기능을 사용하려면 제약이 따른다.=> 다른 방식 필요
#df2

In [21]:
data=  {'이름' : ['강','을','이','권'],
        '학교' : ['가나고','하나고','경기외고','전남과고'],
        '국어' : [100,95,100,85],
        '영어' : [85,75,90,100],
        '수학' : [100,75,95,85.0]
        } #열 단위로 구성된 dictionary이다. 데이터 프레임으로 만들때는 키(key값)가 컬렴명이 된다.
df2 =pd.DataFrame(data,index='1번 2번 3번 4번'.split())
df2

   이름    학교   국어   영어     수학
1번  강   가나고  100   85  100.0
2번  을   하나고   95   75   75.0
3번  이  경기외고  100   90   95.0
4번  권  전남과고   85  100   85.0

In [31]:
#국어 총점과 평균을 출력 
korSum=df2['국어'].sum()
korMean=df2['국어'].mean()
print(korSum,korMean)
print("국어 총점:{0} \n국어평균:{1}".format(df2['국어'].sum(),df2['국어'].mean()))
#수학 평군과 중위수를 출력하기
mathMean=df2['수학'].mean()
mathMedian=df2['수학'].median()
print(mathMean,mathMedian)
print("수학 총점:{0} \n수학평균:{1}".format(df2['수학'].mean(),df2['수학'].median()))  
# 중위수는 집단 데이터에 대한 대표값 중에 하나이다.

380 95.0
국어 총점:380
국어평균:95.0
88.75 90.0
수학 총점:88.75
수학평균:90.0

In [38]:
#Data중에서 원하는 컬럼만 선택하여 데이터 프레임으로 만들기(순서 재정의도 가능)
df3 = pd.DataFrame(data,columns='국어 영어 이름'.split())
df3 = pd.DataFrame(data,columns='국어,영어,이름'.split(','))
df3

    국어   영어 이름
0  100   85  강
1   95   75  을
2  100   90  이
3   85  100  권

In [43]:
s1 = pd.Series([100,80,60])
s2 = pd.Series([80,70,60])
s3 = pd.Series([60,70,100])
df = pd.DataFrame([s1,s2,s3])
df.columns='1번 2번 3번'.split()
df.index='국 영 수'.split()
df

    1번  2번   3번
국  100  80   60
영   80  70   60
수   60  70  100